<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Joomla 3.0</title>
<link href="../../../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.extended.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/theme.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Top Navigation -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="./site/index.html">Joomla 3.0</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class=""><a href="./site/index.html">Home</a></li>
					<li><a href="./examples/about.html">About</a></li>
					<li><a href="./examples/contact.html">Contact</a></li>
					<li class="active dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class=""><a href="article.html">Article</a></li>
							<li class="active"><a href="article-pagebreak.html">Article with Pagebreaks</a></li>
							<li class=""><a href="list.html">List</a></li>
							<li class=""><a href="blog.html">Blog</a></li>
							<li class=""><a href="multi-column.html">Multi-column</a></li>
							<li class=""><a href="table.html">Table</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse --> 
		</div>
	</div>
</div>
<!-- Container -->
<div class="container">
	<div class="row">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">Layouts</li>
				<li class="active"><a href="#">Article</a></li>
				<li><a href="#">Table</a></li>
				<li><a href="#">List</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Multi-column</a></li>
			</ul>
		</div>
		<div class="span10">
			<div class="item row-fluid"> 
				<!-- Page Title -->
				<div class="page-header page-title">
					<h1>Joomla Page Title</h1>
				</div>
				<div class="item-actions"> 
					<!-- Item Actions -->
					<div class="btn-toolbar"> 
						<!-- Administrate -->
						<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> User <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
								<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="i"></i> Edit in admin</a></li>
							</ul>
						</div>
						<!-- Print Email -->
						<div class="btn-group"> <a class="btn" href="#" title="Print" onclick="#" rel="nofollow"> <i class="icon-print"></i> Print </a> <a class="btn" href="#" title="Email" onclick="#" rel="nofollow"> <i class="icon-envelope"></i> Email </a> <a class="btn" href="#comment" title="Email" onclick="#" rel="nofollow"> <i class="icon-comment"></i> Comment </a> </div>
					</div>
				</div>
				<div class="item-header"> 
					<!-- Item Author -->
					<p><span class="item-author">By <a href="#">Super Admin</a></span></p>
					<!-- Item Title -->
					<h2 class="item-title">Joomla Article with Pagebreaks</h2>
					<!-- Item Details -->
					<p> <span class="item-create"><i class="icon-time"></i> January 20, 2012 </span> <span class="item-tags"><i class="icon-tags"></i> <a href="#">Joomla</a>, <a href="#">Layouts</a> </span> <span class="item-hits"><i class="icon-signal"></i> Hits: 228 </span> </p>
				</div>
				<!-- Item Content -->
				<div class="row-fluid item-content">
					<div class="tabbable">
						<ul class="nav nav-tabs">
						  <li class="active"><a href="#lA" data-toggle="tab">About Me</a></li>
						  <li><a href="#lB" data-toggle="tab">My Skills</a></li>
						  <li><a href="#lC" data-toggle="tab">My Hobbies</a></li>
						</ul>
						<div class="tab-content">
						  <div class="tab-pane fade in active" id="lA">
						  	<h3>About Me</h3>
							<p>Aenean dis enim cras? Sagittis scelerisque, risus a. Cum aenean quis nunc! Massa adipiscing hac turpis, dictumst vel magna porttitor, eros, nec enim nisi. Integer tincidunt integer nunc penatibus lectus, vel sed? Hac, et, augue risus vel egestas, facilisis adipiscing! A quis mattis facilisis, adipiscing dis pellentesque ultricies mauris sed, tincidunt? Pulvinar, dolor tincidunt, placerat massa massa. Dis penatibus sed, porta amet non vel urna sociis. Elementum augue in vut. Parturient porttitor pulvinar. Dapibus ut porttitor sagittis mattis dignissim lorem, pid amet ut natoque elementum. Scelerisque adipiscing magnis, enim augue, auctor vel sit augue augue sagittis. Enim lorem, ac risus lundium elementum etiam nascetur. Mauris dolor nisi est diam quis dolor ac nisi parturient turpis massa aliquet porta enim augue.</p>
						  </div>
						  <div class="tab-pane fade" id="lB">
						  	<h3>My Skills</h3>
							<p>Vel magnis tortor aenean et cum ut porta elit, lundium pulvinar nec, enim, tincidunt augue magnis? Magna nunc platea, augue quis turpis turpis, odio auctor pulvinar mid habitasse odio, est rhoncus! Sagittis, quis ut. Pulvinar, dapibus lorem sociis quis pulvinar nisi aliquam cras integer, odio aenean rhoncus scelerisque porttitor amet nec. Natoque nec phasellus eu, scelerisque pulvinar tristique nisi. Nec lorem, duis sociis ut, augue elementum pellentesque quis placerat amet penatibus. Hac montes et! Ac cum egestas, in enim placerat, elit nisi turpis? Adipiscing! Enim. Augue turpis adipiscing enim in egestas egestas sed augue integer vel rhoncus in est. Ut. Egestas montes nunc, sit dolor facilisis purus, ridiculus, cras porta, cras porttitor porta vel vel lacus, cras platea velit.</p>
						  </div>
						  <div class="tab-pane fade" id="lC">
						  	<h3>My Hobbies</h3>
							<p>Turpis lacus turpis nascetur dolor lorem adipiscing egestas elementum? Dolor augue, lundium a nisi sed nunc massa! Adipiscing, elit? Tristique penatibus, turpis magna sociis ultricies montes vel tristique vel. Et ac scelerisque tristique natoque, nascetur elementum est sit tincidunt, mauris elit aliquam nascetur cum! Amet. In elementum! Arcu hac lectus. Scelerisque in ultricies aliquam vel magnis urna scelerisque nec, sed rhoncus parturient montes! Odio. Ultricies! A a pulvinar dolor tempor augue, pulvinar auctor in, urna eu pulvinar, lectus, tempor, tincidunt, parturient ut, adipiscing, tincidunt est porttitor lectus. Integer odio, aliquet ac nisi enim duis nisi, sit in adipiscing pulvinar, sit etiam cursus amet? Integer? Porta magna porttitor! Ac dolor adipiscing etiam, sed amet? Tincidunt purus sed dictumst odio a.</p>
						  </div>
						</div>
				</div>
				<div class="row-fluid item-comments"> <a name="comment"></a>
					<form class="form-horizontal">
						<fieldset>
							<legend>Comment</legend>
							<div class="control-group">
								<label class="control-label" for="textarea">Email</label>
								<div class="controls">
									<input id="prependedInput" size="16" type="text">
									<p class="help-block">Enter Your Email Address</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">Title</label>
								<div class="controls">
									<input size="16" type="text">
									<p class="help-block">Enter a Title</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">Comment</label>
								<div class="controls">
									<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="optionsCheckbox">Email</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" id="optionsCheckbox" value="option1">
										Send Comments to My Email</label>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Comment</button>
								<button type="reset" class="btn">Reset</button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="row-fluid level-1">
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span10">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-2">
					<div class="span1">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span9">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-1">
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span10">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-2">
					<div class="span1">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span9">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-3">
					<div class="span2">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span8">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<p>
				
				<ul class="pager">
					<li class="previous"> <a href="#">Previous</a> </li>
					<li class="next"> <a href="#">Next</a> </li>
				</ul>
				</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="footer"> </div>
	
	<!-- Modals 
	===================================================================--> 
	
	<!-- Reply Form Modal -->
	<div class="modal fade" id="reply-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Reply</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Email</label>
							<div class="controls">
								<input id="prependedInput" size="16" type="text">
								<p class="help-block">Enter Your Email Address</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="optionsCheckbox">Email</label>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="optionsCheckbox" value="option1">
									Send Comments to My Email</label>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Comment</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
	
	<!-- Report Form Modal -->
	<div class="modal fade" id="report-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Report</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Select a Reason</label>
							<div class="controls">
								<select>
									<option value="6">Spam</option>
									<option value="1">Sexual Content</option>
									<option value="2">Violent or Repulsive Content</option>
									<option value="3">Hateful or Abusive Content</option>
									<option value="4">Harmful Acts</option>
									<option value="7">Infringes my Rights</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Notes</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Report</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
	
	<!-- Edit Comment Modal -->
	<div class="modal fade" id="comment-edit-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Edit This Comment</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Title</label>
							<div class="controls">
								<input type="text" value="Comment Title">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" rows="5">Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</textarea>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Save</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
</div>
<!-- Le javascript --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../assets/js/jquery-1.7.1.min.js"></script> 
<script src="../../../assets/js/bootstrap.min.js"></script> 
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
  $('.collapse').collapse()
  $('.modal').modal('hide')
  $('.typeahead').typeahead()
  $('.tabs').button()
  $(".alert-message").alert()
  $(window).bind("load resize", function() {
   var windowHeight = "height:"+($(window).height()-45)+"px"; // height of full document
   var windowWidth = "width:"+($(window).width()-30)+"px"; // width of full document
   $('.side-nav, .fluid-content.main, .modal.full').attr('style', windowHeight);

   if ( $(window).width() < 480) {
   $('.nav-tabs').addClass('nav-stacked');  
   }
   else {
   $('.nav-tabs').removeClass('nav-stacked');  
   }
   
  });
  



  
  
  
  
  
</script>
</body>
</html>