<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Article</title>
<link href="../../../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.extended.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/theme.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Top Navigation -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container"> 
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</a> 
			<a class="brand" href="../../../index.html">Joomla 3.0</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class=""><a href="../../index.html">Home</a></li>
					<li><a href="../about.html">About</a></li>
					<li><a href="../contact.html">Contact</a></li>
					<li class="active dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="article.html">Article</a></li>
							<li class=""><a href="article-pagebreak.html">Article with Pagebreaks</a></li>
							<li class=""><a href="list.html">List</a></li>
							<li class=""><a href="blog.html">Blog</a></li>
							<li class=""><a href="multi-column.html">Multi-column</a></li>
							<li class=""><a href="table.html">Table</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse --> 
		</div>
	</div>
</div>
<!-- Container -->
<div class="container">
	<div class="row">
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">Layouts</li>
				<li class="active"><a href="article.html">Article</a></li>
				<li class=""><a href="article-pagebreak.html">Article with Pagebreaks</a></li>
				<li class=""><a href="list.html">List</a></li>
				<li class=""><a href="blog.html">Blog</a></li>
				<li class=""><a href="multi-column.html">Multi-column</a></li>
				<li class=""><a href="table.html">Table</a></li>
			</ul>
		</div>
		<div class="span10">
			<div class="item row-fluid"> 
				<!-- Page Title -->
				<div class="page-header page-title">
					<h1>Joomla Page Title</h1>
				</div>
				<div class="item-actions"> 
					<!-- Item Actions -->
					<div class="btn-toolbar"> 
						<!-- Administrate -->
						<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> User <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
								<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="i"></i> Edit in admin</a></li>
							</ul>
						</div>
						<!-- Print Email -->
						<div class="btn-group"> <a class="btn" href="#" title="Print" onclick="#" rel="nofollow"> <i class="icon-print"></i> Print </a> <a class="btn" href="#" title="Email" onclick="#" rel="nofollow"> <i class="icon-envelope"></i> Email </a> <a class="btn" href="#comment" title="Email" onclick="#" rel="nofollow"> <i class="icon-comment"></i> Comment </a> </div>
					</div>
				</div>
				<div class="item-header"> 
					<!-- Item Author -->
					<p><span class="item-author">By <a href="#">Super Admin</a></span></p>
					<!-- Item Title -->
					<h2 class="item-title">Joomla Article Title</h2>
					<!-- Item Details -->
					<p> <span class="item-create"><i class="icon-time"></i> January 20, 2012 </span> <span class="item-tags"><i class="icon-tags"></i> <a href="#">Joomla</a>, <a href="#">Layouts</a> </span> <span class="item-hits"><i class="icon-signal"></i> Hits: 228 </span> </p>
				</div>
				<!-- Item Content -->
				<div class="row-fluid item-content">
					<div class="thumbnail pull-right item-image"> <img src="http://placehold.it/260x180" alt="">
						<div class="caption">
							<h5>Thumbnail Caption</h5>
						</div>
					</div>
					<p>A integer integer integer. Sit porta quis ultricies nisi nunc? Non magnis ut egestas enim egestas hac mid integer, dignissim! Sagittis vel et in nec nascetur diam ridiculus turpis tincidunt enim pellentesque turpis, turpis! Ac ultrices magna phasellus elementum, tincidunt elementum purus placerat! Magna, rhoncus nascetur augue integer aenean sed aenean cras. Adipiscing odio hac nunc, mauris purus dis sit elit dis placerat in magna, montes proin! Mid augue elementum enim vut! Sed magna, et mattis urna massa aliquet dignissim, placerat placerat odio sed elit vel elementum phasellus, ultricies pellentesque, lundium. Urna mattis tortor nec tincidunt, platea penatibus, urna integer! Auctor elit. Placerat a nascetur? Mauris lectus. Purus in ut amet dignissim augue non pellentesque lundium. Turpis, mattis adipiscing urna.</p>
					<p>In elit, enim. Quis integer. Parturient adipiscing et sit dis sed? Dapibus adipiscing rhoncus? Tempor mus platea phasellus? Porttitor. Purus turpis! Elementum turpis, egestas sed nisi proin non? Tincidunt mauris egestas sed a ultrices dis a massa magna et ut est est mus magna velit, facilisis natoque ac lorem magna! Nisi porta et urna a cum habitasse tempor arcu, ac turpis montes nascetur enim risus, est in mauris, parturient cras massa montes mus purus, facilisis amet tortor? Porta porttitor, nisi ut sed placerat. Nisi odio et arcu parturient augue, habitasse, ut, scelerisque nec, proin ac pulvinar rhoncus in enim ridiculus sit nunc est, ridiculus? Habitasse, tincidunt in, lectus, a, cursus, integer facilisis nascetur, parturient tempor scelerisque turpis mauris? Sociis.</p>
					<blockquote>
						<p>Ridiculus lundium pulvinar urna et a! Turpis mattis! Hac est non nisi sit placerat sit adipiscing.</p>
						<small>Someone famous in <cite title="">Body of work</cite></small></blockquote>
					<p>Turpis turpis! Porttitor tristique, magnis augue augue integer nec dignissim tortor. Magnis ultrices ac, odio? Eros lacus. Porttitor in! Porta elementum dignissim augue! Eros diam urna diam.  Vut scelerisque, nec ut habitasse turpis, lectus! Elementum eros nascetur purus turpis, parturient lundium nec tortor et! Ut. Pellentesque lacus lorem amet tristique non tincidunt hac, integer magna, in ultrices nisi cum, vel nisi sed? Aenean ultrices lorem parturient porta in turpis et lundium, est ut placerat cursus ut aenean mattis nunc lorem pellentesque tristique enim vel scelerisque, aliquet nisi pellentesque augue.</p>
				</div>
				<div class="row-fluid item-comments"> <a name="comment"></a>
					<form class="form-horizontal">
						<fieldset>
							<legend>Comment</legend>
							<div class="control-group">
								<label class="control-label" for="textarea">Email</label>
								<div class="controls">
									<input id="prependedInput" size="16" type="text">
									<p class="help-block">Enter Your Email Address</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">Title</label>
								<div class="controls">
									<input size="16" type="text">
									<p class="help-block">Enter a Title</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="textarea">Comment</label>
								<div class="controls">
									<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="optionsCheckbox">Email</label>
								<div class="controls">
									<label class="checkbox">
										<input type="checkbox" id="optionsCheckbox" value="option1">
										Send Comments to My Email</label>
								</div>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn btn-primary">Comment</button>
								<button type="reset" class="btn">Reset</button>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="row-fluid level-1">
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span10">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-2">
					<div class="span1">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span9">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-1">
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span10">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-2">
					<div class="span1">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span9">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<div class="row-fluid level-3">
					<div class="span2">&nbsp;</div>
					<div class="span2">
						<p><strong>email@email.com</strong></p>
						<ul class="thumbnails">
							<li> <a href="#" class="thumbnail"> <img src="http://placehold.it/260x180" alt=""> </a> </li>
						</ul>
					</div>
					<div class="span8">
						<h3>Comment Title</h3>
						<p>Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</p>
						<div class="btn-toolbar">
							<div class="btn-group"> <a href="#reply-modal" data-toggle="modal" class="btn"><i class="icon-share-alt"></i> Reply</a> <a href="#report-modal" data-toggle="modal" class="btn"><i class="icon-exclamation-sign"></i> Report</a> </div>
							<div class="btn-group"> <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-cog"></i> <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#comment-edit-modal" data-toggle="modal"><i class="icon-pencil"></i> Edit</a></li>
									<li><a href="#"><i class="icon-trash"></i> Delete</a></li>
									<li class="divider"></li>
									<li><a href="#"><i class="i"></i> Edit in admin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<hr class="level-seperator"/>
				<p>
				
				<ul class="pager">
					<li class="previous"> <a href="#">Previous</a> </li>
					<li class="next"> <a href="#">Next</a> </li>
				</ul>
				</p>
			</div>
		</div>
	</div>
	<hr />
	<div class="footer"> </div>
	
	<!-- Modals 
	===================================================================--> 
	
	<!-- Reply Form Modal -->
	<div class="modal fade" id="reply-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Reply</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Email</label>
							<div class="controls">
								<input id="prependedInput" size="16" type="text">
								<p class="help-block">Enter Your Email Address</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="optionsCheckbox">Email</label>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="optionsCheckbox" value="option1">
									Send Comments to My Email</label>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Comment</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
	
	<!-- Report Form Modal -->
	<div class="modal fade" id="report-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Report</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Select a Reason</label>
							<div class="controls">
								<select>
									<option value="6">Spam</option>
									<option value="1">Sexual Content</option>
									<option value="2">Violent or Repulsive Content</option>
									<option value="3">Hateful or Abusive Content</option>
									<option value="4">Harmful Acts</option>
									<option value="7">Infringes my Rights</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Notes</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Report</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
	
	<!-- Edit Comment Modal -->
	<div class="modal fade" id="comment-edit-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Edit This Comment</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Title</label>
							<div class="controls">
								<input type="text" value="Comment Title">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" rows="5">Porttitor nisi ultricies dignissim placerat vel augue risus porta mattis mid, arcu tristique augue porttitor et scelerisque, aliquam rhoncus, vut tristique tempor pulvinar! Urna non?</textarea>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Save</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
</div>
<!-- Le javascript --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../assets/js/jquery-1.7.1.min.js"></script> 
<script src="../../../assets/js/bootstrap.min.js"></script> 
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
  $('.collapse').collapse()
  $('.modal').modal('hide')
  $('.typeahead').typeahead()
  $('.tabs').button()
  $(".alert-message").alert()
  $(window).bind("load resize", function() {
   var windowHeight = "height:"+($(window).height()-45)+"px"; // height of full document
   var windowWidth = "width:"+($(window).width()-30)+"px"; // width of full document
   $('.side-nav, .fluid-content.main, .modal.full').attr('style', windowHeight);
  });
</script>
</body>
</html>