<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Print</title>
<link href="../../../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.extended.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/theme.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.responsive.css" rel="stylesheet" type="text/css" />
</head>

<body style="padding:20px 0;">
<div class="container">
<div class="item-header"> 
	<!-- Item Author -->
	<p><span class="item-author">By <a href="#">Super Admin</a></span></p>
	<!-- Item Title -->
	<h2 class="item-title">Joomla Article Title</h2>
	<!-- Item Details -->
	<p> <span class="item-create"><i class="icon-time"></i> January 20, 2012 </span> <span class="item-tags"><i class="icon-tags"></i> <a href="#">Joomla</a>, <a href="#">Layouts</a> </span> <span class="item-hits"><i class="icon-signal"></i> Hits: 228 </span> </p>
</div>
<!-- Item Content -->
<div class="row-fluid item-content">
	<div class="thumbnail pull-left item-image"> <img src="http://placehold.it/260x180" alt="">
		<div class="caption">
			<h5>Thumbnail Caption</h5>
		</div>
	</div>
	<p>A integer integer integer. Sit porta quis ultricies nisi nunc? Non magnis ut egestas enim egestas hac mid integer, dignissim! Sagittis vel et in nec nascetur diam ridiculus turpis tincidunt enim pellentesque turpis, turpis! Ac ultrices magna phasellus elementum, tincidunt elementum purus placerat! Magna, rhoncus nascetur augue integer aenean sed aenean cras. Adipiscing odio hac nunc, mauris purus dis sit elit dis placerat in magna, montes proin! Mid augue elementum enim vut! Sed magna, et mattis urna massa aliquet dignissim, placerat placerat odio sed elit vel elementum phasellus, ultricies pellentesque, lundium. Urna mattis tortor nec tincidunt, platea penatibus, urna integer! Auctor elit. Placerat a nascetur? Mauris lectus. Purus in ut amet dignissim augue non pellentesque lundium. Turpis, mattis adipiscing urna.</p>
	<p>In elit, enim. Quis integer. Parturient adipiscing et sit dis sed? Dapibus adipiscing rhoncus? Tempor mus platea phasellus? Porttitor. Purus turpis! Elementum turpis, egestas sed nisi proin non? Tincidunt mauris egestas sed a ultrices dis a massa magna et ut est est mus magna velit, facilisis natoque ac lorem magna! Nisi porta et urna a cum habitasse tempor arcu, ac turpis montes nascetur enim risus, est in mauris, parturient cras massa montes mus purus, facilisis amet tortor? Porta porttitor, nisi ut sed placerat. Nisi odio et arcu parturient augue, habitasse, ut, scelerisque nec, proin ac pulvinar rhoncus in enim ridiculus sit nunc est, ridiculus? Habitasse, tincidunt in, lectus, a, cursus, integer facilisis nascetur, parturient tempor scelerisque turpis mauris? Sociis.</p>
	<blockquote>
		<p>Ridiculus lundium pulvinar urna et a! Turpis mattis! Hac est non nisi sit placerat sit adipiscing.</p>
		<small>Someone famous in <cite title="">Body of work</cite></small></blockquote>
	<p>Turpis turpis! Porttitor tristique, magnis augue augue integer nec dignissim tortor. Magnis ultrices ac, odio? Eros lacus. Porttitor in! Porta elementum dignissim augue! Eros diam urna diam.  Vut scelerisque, nec ut habitasse turpis, lectus! Elementum eros nascetur purus turpis, parturient lundium nec tortor et! Ut. Pellentesque lacus lorem amet tristique non tincidunt hac, integer magna, in ultrices nisi cum, vel nisi sed? Aenean ultrices lorem parturient porta in turpis et lundium, est ut placerat cursus ut aenean mattis nunc lorem pellentesque tristique enim vel scelerisque, aliquet nisi pellentesque augue.</p>
</div>
</div>
</body>
</html>
