<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Table</title>
<link href="../../../assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.extended.css" rel="stylesheet" type="text/css" />
<link href="../../assets/css/theme.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/bootstrap.responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Top Navigation -->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a> <a class="brand" href="../../../index.html">Joomla 3.0</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class=""><a href="../../index.html">Home</a></li>
					<li><a href="../about.html">About</a></li>
					<li><a href="../contact.html">Contact</a></li>
					<li class="active dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#">Examples<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class=""><a href="article.html">Article</a></li>
							<li class=""><a href="article-pagebreak.html">Article with Pagebreaks</a></li>
							<li class=""><a href="list.html">List</a></li>
							<li class=""><a href="blog.html">Blog</a></li>
							<li class=""><a href="multi-column.html">Multi-column</a></li>
							<li class="active"><a href="table.html">Table</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Jomsocial <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class=""><a href="../jomsocial/signup.html">Signup</a></li>
							<li class=""><a href="../jomsocial/directory.html">Directory</a></li>
							<li class=""><a href="../jomsocial/user-home.html">User Home</a></li>
							<li class=""><a href="../jomsocial/photos.html">Photos</a></li>
							<li class=""><a href="../jomsocial/videos.html">Videos</a></li>
							<li class=""><a href="../jomsocial/events.html">Events</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse --> 
		</div>
	</div>
</div>
<!-- Container -->
<div class="container">
	<div class="row">
		<div class="span2">
			<ul class="nav nav-list" style="margin-bottom:18px;">
				<li class="nav-header">Layouts</li>
				<li class=""><a href="article.html">Article</a></li>
				<li class=""><a href="article-pagebreak.html">Article with Pagebreaks</a></li>
				<li class=""><a href="list.html">List</a></li>
				<li class=""><a href="blog.html">Blog</a></li>
				<li class=""><a href="multi-column.html">Multi-column</a></li>
				<li class="active"><a href="table.html">Table</a></li>
			</ul>
			<div class="well">
			<h5>Example Table Layout</h5>
			<p><small>Suggested com_table view that could be used to display any listed data i.e. com_category, com_weblinks, com_contacts</small></p>
			</div>
		</div>
		<div class="span10">
			<div class="item row-fluid"> 
				<!-- Page Title -->
				<div class="page-header page-title">
					<h1>Joomla Table</h1>
				</div>
				<div class="item-header"> 
					<!-- Table Title -->
					<h2 class="item-title">Joomla Table Title</h2>
				</div>
				<div class="row-fluid table-description">
					<div class="thumbnail pull-right item-image"> <img src="http://placehold.it/200x150" alt="">
						<div class="caption">
							<h5>Thumbnail Caption</h5>
						</div>
					</div>
					<p>Sit non sociis, in dictumst sagittis dignissim mauris sagittis! Habitasse rhoncus risus lundium vut elementum purus tempor arcu purus natoque, urna. Mauris lorem augue turpis. Vel urna vel, auctor. Nec nisi eros lorem porta, ridiculus augue! Nascetur tristique, dis lectus! Et eros, phasellus placerat? Porta, scelerisque odio turpis, sit facilisis enim ac! Augue eu enim nisi, pellentesque. Pulvinar, hac, proin? Cras egestas mattis nec? Lorem aenean mid integer eros adipiscing? Ridiculus scelerisque, sed et lectus. Purus quis, porttitor? Odio enim vel urna in velit, in diam sit, ac mattis magnis mid in turpis turpis augue, mauris, habitasse sed lorem! Amet pellentesque penatibus! Phasellus purus nunc amet porta sed! Tortor dolor? Augue elementum, integer lectus. A duis, mus, parturient tristique? Turpis.</p>
				</div>
				<form class="form-horizontal">
					<fieldset class="form-horizontal">
						<legend class="hidelabeltxt"> Table Filter </legend>
						<div class="control-group">
							<label class="control-label" for="filter-search">Title Filter&nbsp;</label>
							<div class="controls">
								<input type="text" name="filter-search" id="filter-search" value="" class="inputbox" onchange="document.adminForm.submit();" title="Content Filter Search">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="limit">Display #&nbsp; </label>
							<div class="controls">
								<select id="limit" name="limit" class="inputbox" size="1" onchange="this.form.submit()">
									<option value="5" selected="selected">5</option>
									<option value="10">10</option>
									<option value="15">15</option>
									<option value="20">20</option>
									<option value="25">25</option>
									<option value="30">30</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="0">All</option>
								</select>
							</div>
						</div>
						
						<!-- @TODO add hidden inputs -->
						<input type="hidden" name="filter_order" value="">
						<input type="hidden" name="filter_order_Dir" value="">
						<input type="hidden" name="limitstart" value="">
					</fieldset>
				</form>
			</div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th class="yellow">Article Title</th>
						<th class="blue">Dated Created</th>
						<th class="green">Author</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>Article 1</td>
						<td>January, 20, 2012</td>
						<td>Super Admin</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Article 2</td>
						<td>January, 20, 2012</td>
						<td>Super Admin</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Article 3</td>
						<td>January, 20, 2012</td>
						<td>Super Admin</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Article 4</td>
						<td>January, 20, 2012</td>
						<td>Super Admin</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<ul>
				  <li class="disabled"><a href="#">«</a></li>
				  <li class="active"><a href="#">1</a></li>
				  <li><a href="#">2</a></li>
				  <li><a href="#">3</a></li>
				  <li><a href="#">4</a></li>
				  <li><a href="#">»</a></li>
				</ul>
			  </div>
		</div>
	</div>
	<hr />
	<div class="footer">
		<p class="pull-right"><a href="#top" id="back-top">Back to top</a></p>
		<p>&copy; Copyright JUI Project 2012, All rights reserved.</p>
	</div>
	
	<!-- Modals 
	===================================================================--> 
	
	<!-- Reply Form Modal -->
	<div class="modal fade" id="reply-modal">
		<div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
			<h3>Reply</h3>
		</div>
		<div class="modal-body">
			<div class="form form-comment">
				<form class="form-horizontal">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="textarea">Email</label>
							<div class="controls">
								<input id="prependedInput" size="16" type="text">
								<p class="help-block">Enter Your Email Address</p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="textarea">Comment</label>
							<div class="controls">
								<textarea class="input-xlarge" id="textarea" rows="3"></textarea>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="optionsCheckbox">Email</label>
							<div class="controls">
								<label class="checkbox">
									<input type="checkbox" id="optionsCheckbox" value="option1">
									Send Comments to My Email</label>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="modal-footer"> <a href="#" class="btn btn-primary" data-dismiss="modal">Comment</a> <a href="#" class="btn" data-dismiss="modal">Cancel</a> </div>
	</div>
</div>
<!-- Le javascript --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="../../../assets/js/jquery-1.7.1.min.js"></script> 
<script src="../../../assets/js/bootstrap.min.js"></script> 
<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
  $('.collapse').collapse()
  $('.modal').modal('hide')
  $('.typeahead').typeahead()
  $('.tabs').button()
  $(".alert-message").alert()
  $(window).bind("load resize", function() {
   var windowHeight = "height:"+($(window).height()-45)+"px"; // height of full document
   var windowWidth = "width:"+($(window).width()-30)+"px"; // width of full document
   $('.side-nav, .fluid-content.main, .modal.full').attr('style', windowHeight);
  });
</script>
</body>
</html>